### [作業目標]
#### 1. 一個包含兩個欄位的 DataFrame，將每個數字減去
1) 該欄位的平均數
2) 該筆資料平均數

#### 2. 承上題，請問：
1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

### 1. 一個包含兩個欄位的 DataFrame，將每個數字減去
1) 該欄位的平均數
2) 該筆資料平均數

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.453168  0.902131  0.334632
1  0.013269  0.481875  0.176902
2  0.058613  0.064729  0.214533
3  0.842636  0.771088  0.230010
4  0.368948  0.173210  0.940898

In [2]:
df - df.mean()

          0         1         2
0  0.105842  0.423525 -0.044763
1 -0.334058  0.003268 -0.202493
2 -0.288714 -0.413878 -0.164862
3  0.495309  0.292481 -0.149385
4  0.021622 -0.305397  0.561504

In [3]:
df.sub(df.mean(axis=1) ,axis=0)

          0         1         2
0 -0.110142  0.338821 -0.228679
1 -0.210747  0.257860 -0.047113
2 -0.054012 -0.047896  0.101908
3  0.228058  0.156510 -0.384568
4 -0.125404 -0.321142  0.446546

### 2. 承上題，請問：
1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [4]:
df

          0         1         2
0  0.453168  0.902131  0.334632
1  0.013269  0.481875  0.176902
2  0.058613  0.064729  0.214533
3  0.842636  0.771088  0.230010
4  0.368948  0.173210  0.940898

In [5]:
df.sum().idxmin()

0

In [6]:
df.sum(axis=1).idxmin()

2